body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #333;
	background-color: #eee;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 200;
}

h1{
	text-align: center;
	padding-bottom: 10px;
	margin: 20px auto;
}


.sinpadding [class*="col-"] {
    padding: 0;
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

#Formulario{
	background-color: #485c96;
	padding: 0 30px 0 20px;
}

#Lateral{
	background-color: #33ff00;
	text-align: justify;
	padding: 0 30px 0 30px;
}

/* FORM */

.form .plan input, .form .payment-plan input, .form .payment-type input{
	display: none;
}

.form label{
	position: absolute;
	color: #8b8686;
	background-color: rgba(255,255,255,0.5);
	font-size: 26px;
	text-align: left;
	height: 1em;
	line-height: 1em;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
	background-color: #33ff00;
	opacity: 0.9;
}

.submit{
	padding: 10px 50px;
	display: inline-block;
	border: none;
	margin: 25px 0;
	background-color: #33ff00;
	color: #ffffff;
	font-size: 18px;
	/*-webkit-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;*/
		cursor: pointer;
}

/*#cc2f2f
.submit:hover{
	cursor: pointer;
	transform: rotateX(360deg);
}
*/
