body{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 200;
}

h1{
	text-align: center;
	padding-bottom: 10px;
	margin: 20px auto;
}

h3{
	padding-top: 30px;
	text-decoration: underline;
}

.sinpadding [class*="col-"] {
    padding-left: 0;
		padding-right: 0;
}

.pielogos{
		background-color: #32F616;
}

/*Relleno del color del lateral simulando misma altura de columnas*/
.backgroundVerde{
		background-color: #ecf110;

}

#Formulario{
	background-color: #a3a3a3;
	padding: 7px 6% 0 6%;
	/*font-family: 'Archivo Black', sans-serif;*/
	font-family: 'Karla', sans-serif;
	font-size: 1.3rem;
	margin-bottom: -16px;
}

#Lateral{
	background-color: #ecf110;
	text-align: justify;
	padding: 50px 6% 0 6%;
	/*font-family: 'Archivo Black', sans-serif;*/
	font-family: 'Karla', sans-serif;
	font-size: 1.3rem;
}

#Lateral h1{
		/*font-family: 'Rubik Mono One', sans-serif;*/
		font-family: 'Montserrat', sans-serif;
		font-size: 3rem;
}

#Lateral a{
		color: #333;
}

#Lateral a:hover{
		color: #1F19FF;
}


/* FORM */

/*Quitamos el icono predefinido*/
.form .plan input, .form .payment-plan input, .form .payment-type input{
	display: none;
}

/*Etiqueta de cada opción del formulario*/
.form label{
	position: absolute;
	padding: 0px 5px 23px 5px;
	color: #6e6b6b;
	font-size: 24px;
	text-align: left;
	height: 1em;
	line-height: 1em;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*Resaltado al pasar el raton por encima de cada opción*/
.form label:hover {
	color:#1F19FF;
}

/*Resaltado de opción seleccionada*/
.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
	background-color: #ecf110;
	color:black;
}

/*Campo de number*/
input[type=number] {
  border: 2px solid #010101;
  border-radius: 0;
	background-color: #a3a3a3;
	outline: none;
  -webkit-appearance: none;
	-moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Campo de texto*/
input[type=text] {
  border: 2px solid #010101;
  border-radius: 0;
	background-color: #a3a3a3;
	outline: none;
  -webkit-appearance: none;
}

/*Botón*/
.submit{
	padding: 10px 50px;
	display: inline-block;
	border: none;
	margin: 70px 0 90px;
	background-color: #ecf110;
	color: #333;
	font-size: 18px;
		cursor: pointer;
}
